[MESSAGES CONTROL]
disable=
    import-error,
    undefined-variable,
    invalid-name,
    trailing-whitespace,
    unidiomatic-typecheck,
    no-else-return,
    pointless-string-statement,
    redundant-unittest-assert,
    useless-parent-delegation,
    line-too-long,
    raise-missing-from,
    wildcard-import,
    unused-wildcard-import,
    wrong-import-order,
    import-error,
    missing-docstring,
    missing-module-docstring,
    missing-function-docstring,
    ungrouped-imports.
    attribute-defined-outside-init,
    fixme,
    too-few-public-methods,
    attribute-defined-outside-init
