Django==4.2.5
gunicorn==20.0.4
django-cors-headers==4.2.0
djangorestframework==3.14.0
mysqlclient==2.0.3
asgiref==3.7.2
pytz==2023.3.post1
typing_extensions==4.8.0
sqlparse==0.4.4
neomodel==5.2.1
argon2-cffi==20.1.0
better_profanity==0.7.0
PyJWT==2.3.0
pytrie==0.3.1
pylint==3.1.0
